.entry {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-areas: "title page";
    align-items: end;
    gap: 0 .25rem;
    
}



.page {
    grid-area: page;
}

.title {
    grid-area: title;
    position: relative;
    overflow: hidden;
}

.title::after {
    position: absolute;
    padding-left: .25ch;
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    text-align: right;
}
